body {
    background-color: #000000;
}

p { 
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	font-weight: 400;
	font-size: 100%; 
	color: #ffffff;
}

a:link {
    color: #00CCFF;
}

a.internal {
    color: #000000;
}

.header 
{
    font-size: 64px;
}

.slogan 
{
    font-size: 32px;
}

.zoom 
{
    font-size: 16px;
}

img {
  border: none;
}
#thumbnail img {
  cursor: pointer;  
}
#large {
  display: none;
  position: absolute;   
  background: #FFFFFF;  
  padding: 5px;
  z-index: 10;
  min-height: 200px;
  min-width: 200px;
  color: #336699;
}
#background{
  display: none;
  position: absolute;
  height: 200%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000000;  
  z-index: 1;
}

.footer {
    border: 0px solid white;
    width: 80%;
    margin: 0 10%;
}

.header {
    border: 0px solid white;
    width: 80%;
    margin: 0 10%;
}

.middle {
    border: 0px solid white;
    width: 80%;
    margin: 0 10%;
}

